nav, div, a{
    padding: 10px;
    margin: 10px;
}
nav, div{
    display: flex;
}
nav{
    justify-content: flex-start;
}

nav, a{
    border: 1px solid gray;

}

a{
    margin: 3px 10px;
}

div {
    border: 2px solid gold;
    height: 150px;
}

div a {
    display: block;
    text-align: center;
    width: 75px;
    margin: auto;
}
nav a:nth-of-type(4) {
    margin-left: auto;
}