.fancy-header{
    color: purple;
    text-decoration: underline;
}
h1{
    text-align: center;
}
h1,h2,h3,h4,h5,h6{
    color: navy;
    text-decoration: underline;
    margin-left: 5px;
}
body{
    background-color: lightsteelblue;
    /*background-image: url('Rick-Astley.webp');*/
    font-family: "Apple SD Gothic Neo";
    position: relative;
}

.hero {
    position: relative;
    height: 180vh;
    width: 100%;
    /*margin: 0;*/
    /*padding: 0;*/

}

.hero:before {
    content: "";
    background-image: url('../img/giphy.gif');
    background-repeat: repeat;
    background-size: auto;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;

    position: absolute;

    opacity: 0.55;
    z-index: -1;
}
li{
    list-style: upper-roman;
}
table, td, tr {
    padding-left: 20px;
    font-size: 20px;
}